<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isFullYear</key>
	<false/>
	<key>hasLeadingZeros</key>
	<false/>
	<key>timeStyle</key>
	<string>Regular</string>
	<key>dateStyle</key>
	<string>Western</string>
	<key>timeBeforeDueInMinutes</key>
	<integer>10</integer>
	<key>timeBeforeDueInHours</key>
	<integer>2</integer>
	<key>timeBeforeDueInDays</key>
	<integer>3</integer>
	<key>dateTimeFormatString</key>
	<string>DATETIME_FORMAT</string>
	<key>showWeekday</key>
	<false/>
</dict>
</plist>
